.items {
    margin: 0;
    padding: 0;
}
.items li {
    list-style: none;
}
.count {
    padding: 5px 10px;
    border: 1px solid #cccc;
}
.add-one,
.remove-one {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
}
.add-one {
    border-left: none;
}
.remove-one {
    border-right: none;
}
.loading-text {
    margin-top: 30px;
    text-align: center;
}